<ModalWindow>
  <h3 slot="header">Add New Field</h3>
  <div slot="body">
    <FieldEditor onEdit="" selectedScreener={selectedScreener} newField={newField}/>
  </div>
  <div class="delete-actions" slot="footer">
    <button class="btn btn-primary" on:click="saveField()">Save</button>
    <button class="btn btn-default" on:click="fire('notifyFieldAddition', {})">Cancel</button>
  </div>
  <div slot="footer">
    {message}
  </div>
</ModalWindow>

<script>
  import ModalWindow from "./modal-window.html";
  import FieldEditor from "./field-editor.html";
  import Validator from "../utils/validator";

  export default {
    components: { ModalWindow, FieldEditor },

    oncreate() {
      let { newField } = this.options.data || {};
      let isNew = newField && newField.id ? false : true;
      this.set({ isNew });
    },

    data() {
      return {
        selectedScreener: {},
        message: "",
        newField: {},
        isNew: true
      };
    },
    methods: {
      saveField() {
        let { newField, isNew } = this.get();
        if (Validator.isFieldValid(newField)) {
          this.set({ message: "" });
          this.fire("notifyFieldSave", { newField, isNew });
        } else {
          this.set({
            message:
              "Invalid entry/entries. Make sure name and values are not empty"
          });
        }
      }
    }
  };
</script>
