<div class="config-editor">
  <FormField data={{name: "Screeners"}}>
    {#if isNew}
      <SvelteSelect 
        labelKey="screenName" 
        valueKey="screenId"
        selectedValue={selectedScreener}  
        on:change="onScreenerChange(event.option)" 
        options={screeners} 
        prompt="Select Screener"
      />
    {:else}
      <input type="text" class="form-control" value={selectedScreener.screenName} />
    {/if}
  </FormField>
  
  {#if selectedScreener && selectedScreener.screenId}
    <FormField bind:value=data.name classNames="config-name" data={{name: "Name"}}>
      <input type="text" class="form-control" bind:value=data.name />
    </FormField>

    {#if data && data.fields}
      {#each data.fields as field, index}
        <div class="form-field-container">
          <FormField classNames="field-row" data={{name: field.name}} >
            <MultiValueTextBox values={field.values} />
          </FormField>
          <button data-toggle="tooltip" title="Delete Field" on:click="deleteField(index)" class="icon-btn glyphicon glyphicon-remove-circle"></button>
        </div>
      {/each}
    {/if}
    <button on:click="set({showAddField: true})" class="btn btn-primary add-new-field">
      Add New Field 
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button>

    <div class="editor-actions">
      <button class="btn btn-primary" on:click="saveEditor()">Save</button>
      <button class="btn btn-default" on:click="cancelEditor()">Cancel</button>
    </div>
  {/if}

  {#if showAddField}
    <AddFieldModal selectedScreener={selectedScreener} on:notifyFieldAddition="updateFieldAddition(event.newField)"/>
  {/if}
</div>

<script>
  import FormField from "./form-field.html";
  import ModalWindow from "./modal-window.html";
  import AddFieldModal from "./add-field-modal.html";
  import MultiValueTextBox from "./multivalue-textbox.html";
  import * as sapper from "../../__sapper__/client.js";
  import SvelteSelect from "./svelte-select.html";
  import ConfigService from "../services/config";

  export default {
    components: {
      FormField,
      AddFieldModal,
      MultiValueTextBox,
      SvelteSelect
    },
    data() {
      let screeners = ConfigService.getScreeners();
      return {
        selectedScreener: {},
        screeners,
        showAddField: false,
        data: {
          name: "",
          fields: []
        }
      };
    },
    computed: {
      isNew: data => {
        return !(data.name && data.fields && data.fields.length);
      }
    },
    methods: {
      onScreenerChange(screener) {
        this.set({ selectedScreener: screener });
      },
      updateFieldAddition(newField) {
        if (newField) {
          let { data } = this.get();
          data.fields.push(newField);
          this.set({ data: data });
        }
        this.set({ showAddField: false });
      },
      deleteField(position) {
        let { data } = this.get();

        if (data.fields.length === 1) {
          this.root.fire("alert-notification", {
            header: "Error",
            message:
              "Fields cannot be empty. Add another before deleting the last one or delete the configuration"
          });
        } else {
          data.fields.splice(position, 1);
          this.set({ data });
        }
      },
      saveEditor() {
        let { data } = this.get();
        if (!(data.name && data.fields && data.fields.length)) {
          this.root.fire("alert-notification", {
            header: "Invalid Input",
            message: "Make sure configuration has name and field values"
          });
          return;
        }
        this.fire("saveConfig", {
          config: data
        });
      },
      cancelEditor() {
        sapper.goto("/");
      }
    }
  };
</script>

<style type="text/scss" scoped>
  .form-field-container {
    position: relative;
    padding-right: 50px;
    .icon-btn {
      position: absolute;
      font-size: 3rem;
      right: 0px;
    }
  }

  .add-new-field {
    margin: 0px auto;
    display: block;
  }
  .editor-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .editor-actions button {
    margin: 0px 5px;
  }
  .config-name {
    margin-bottom: 30px;
    border-bottom: 0px;
  }
</style>