<style>
  .add-new-filter {
    margin: 0px auto;
    display: block;
  }
  .editor-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .editor-actions button {
    margin: 0px 5px;
  }
  .config-name {
    margin-bottom: 30px;
    border-bottom: 0px;
  }
</style>

<FormField bind:value=data.name class="config-name" data={{name: "Name"}} />

{#if data && data.filters}
  {#each data.filters as filter}
    <FormField data={filter} />
  {/each}
{/if}
<button on:click="set({showAddFilter: true})" class="add-new-filter">Add New Filter</button>

<div class="editor-actions">
  <button on:click="saveEditor()">Save</button>
  <button on:click="cancelEditor()">Cancel</button>
</div>

{#if showAddFilter}
  <AddFilterModal on:notifyFilterAddition="updateFilterAddition(event.newFilter)"/>
{/if}

<script>
  import FormField from "./form-field.html";
  import ModalWindow from "./modal-window.html";
  import AddFilterModal from "./add-filter-modal.html";
  import * as sapper from "../../__sapper__/client.js";

  export default {
    components: {
      FormField,
      AddFilterModal
    },
    data() {
      return {
        showAddFilter: false,
        data: {
          name: "",
          filters: []
        }
      };
    },
    methods: {
      updateFilterAddition(newFilter) {
        if (newFilter) {
          let { data } = this.get();
          data.filters.push(newFilter);
          this.set({ data: data });
        }
        this.set({ showAddFilter: false });
      },
      saveEditor() {
        let { data } = this.get();
        if (!(data.name && data.filters && data.filters.length)) {
          this.root.fire('alert-notification', {
            header: 'Invalid Input',
            message: 'Make sure configuration has name and filter values'
          }); 
          return;
        }
        this.fire("saveConfig", {
          config: data
        });
      },
      cancelEditor() {
        sapper.goto("/");
      }
    }
  };
</script>
