<div class="config-box">
  <ActionableHeader>
    <h3 on:click="set({showDetails: true})" class="clickable" slot="header">{config.name}</h3>
    <a class="glyphicon glyphicon-edit icon-btn" href="edit/{config.id}" title="Edit {config.name}" slot="actions" />
    <button class="glyphicon glyphicon-trash icon-btn" on:click="set({showDeleteModal: true})" title="Delete {config.name}" slot="actions" ></button>
  </ActionableHeader>

  <div class="field-list">
    {#each topTwoFields as field}
      <div class="field-row">
        <span>{field.name}</span>
        <span>
          {(field.values || []).join(',')}
        </span>
      </div>
    {/each}
  </div>
</div>

{#if showDeleteModal}
  <ModalWindow>
    <h4 slot="header">Delete Configuration</h4>
    <p slot="body">Are you sure you want to delete configuration {config.name}?</p>
    <div class="delete-actions" slot="footer">
      <button on:click="deleteConfig()">Confirm</button>
      <button on:click="set({showDeleteModal: false})">Cancel</button>
    </div>
  </ModalWindow>
{/if}

{#if showDetails}
  <ModalWindow>
    <h4 slot="header">{config.name}</h4>
    <p slot="body" class="field-list">
      {#each config.fields as field}
          <div class="field-row">
            <span>{field.name}</span>
            <span>
              {(field.values || []).join(',')}
            </span>
          </div>
        {/each}
    </p>
    <div class="delete-actions" slot="footer">
      <button on:click="set({showDetails: false})">Ok</button>
    </div>
  </ModalWindow>
{/if}

<script>
  import ActionableHeader from "./actionable-header.html";
  import ModalWindow from "./modal-window.html";
  import * as sapper from "../../__sapper__/client.js";
  import AjaxService from "../services/ajax";

  export default {
    components: {
      ActionableHeader,
      ModalWindow
    },
    computed: {
      topTwoFields: ({ config }) => {
        return config.fields.slice(0, 2);
      }
    },
    methods: {
      deleteConfig() {
        let { config } = this.get();
        AjaxService.delete({
          url: "/v1/configurations/" + config.id,
          timeout: 3000
        })
          .then(() => {
            this.set({
              showDeleteModal: false
            });
            this.root.fire("alert-notification", {
              header: "Sucess",
              message: "Sucessfully Deleted"
            });
            sapper.goto("/");
          })
          .catch(() => {
            this.set({
              showDeleteModal: false
            });
            this.root.fire("alert-notification", {
              header: "Sucess",
              message: "Sucessfully Deleted"
            });
          });
      }
    },
    data() {
      return {
        showDeleteModal: false,
        config: {
          fields: []
        }
      };
    }
  };
</script>

<style type="text/scss" scoped>
  .config-box {
    width: 300px;
    margin: 5px 15px 5px 0px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 0px 3px 0px grey;
    padding: 0px 10px 20px;
    position: relative;
    height: 150px;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "...";
      text-align: center;
      line-height: 20px;
      vertical-align: middle;
      width: 280px;
      height: 20px;
      bottom: 0px;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .field-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
  }

  a,
  button {
    margin: 0px 2px;
  }

  .delete-actions {
    display: flex;
    justify-content: flex-end;
  }

  .icon-btn {
    height: 16px;
    width: 16px;
  }
</style>
