<div class="field-value-box">
  {#if isTypeRange}
    <input type="text" on:blur="updateInput('low', this.value)" placeholder="Low" class="form-control" value={value.low || ''} {disabled} />
    <input type="text" on:blur="updateInput('high', this.value)" placeholder="High" class="form-control" value={value.high || ''} {disabled} />
  {:else}
    <input type="text" on:blur="updateInput('key', this.value)" placeholder="Key" class="form-control" value={value.key || ''} {disabled} />
  {/if}
  <input type="text" on:blur="updateInput('desc', this.value)" placeholder="Description" class="form-control" value={value.desc || ''} {disabled} />
  <input type="text" on:blur="updateInput('sortOrder', this.value)" placeholder="Sort Order"  class="form-control" value={value.sortOrder || ''} {disabled} />
  <input type="text" placeholder="ID" class="form-control" value={value.id || ''} disabled/>
  <slot name="actions"></slot>
</div>

<script>
  import $ from "jquery";

  export default {
    onstate({ changed, current }) {
      if (changed.value) {
        let { value, id, index } = current;
        value.id = value.id || id;
        value.sortOrder = value.sortOrder || index || "";
        this.set({ value });
      }
    },

    data() {
      return {
        isReadOnly: false,
        isTypeRange: false,
        value: {},
        index: null,
        id: null
      };
    },
    computed: {
      disabled: ({ isReadOnly }) => {
        return isReadOnly ? "disabled" : "";
      }
    },
    methods: {
      updateInput(prop, input) {
        let { value } = this.get();
        value[prop] = input;
        this.set({ value });
      }
    }
  };
</script>

<style type="text/scss" scoped>
  .field-value-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 5px 30px 5px 5px;
    margin: 5px 0px;
    input {
      min-width: 0px;
      margin: 0px 5px;
    }
  }
</style>
