{#await fields}
    Loading Please Wait
{:then result}
  <div class="editor-container {showFieldValueEditor ? "hide" : "show"}">
    <FormField name="Fields">
      <SvelteSelect labelKey="display" valueKey="field" prompt="Select field" selectedValue={newField.id || ""} on:change="onFieldChange(event.option)" options={result} />
    </FormField>
    {#if newField && newField.id} 
      <FormField name="Name">
        <input type="text" class="form-control" on:blur="updateInput('desc', this.value)" value={newField.desc || ""} />
      </FormField>
      <FormField name="Key">
        <input type="text" class="form-control" on:blur="updateInput('key', this.value)" value={newField.key || ""} />
      </FormField>
      <FormField name="Format">
        <SvelteSelect valueKey="id" prompt="Select Format" selectedValue={newField.format || ""} on:change="onFormatChange(event.option)" options={formats} />
      </FormField>
      <FormField name="Type">
        <SvelteSelect valueKey="id" prompt="Select Type" selectedValue={newField.type || ""} on:change="onTypeChange(event.option)" options={types} />
      </FormField>
      <FormField name="Sort Order">
        <input type="text" class="form-control" on:blur="updateInput('sortOrder', this.value)" value={newField.sortOrder || ""} />
      </FormField>
      <FormField name="Precision">
        <input type="text" class="form-control" on:blur="updateInput('precision', this.value)" value={newField.precision || ""} />
      </FormField>
      
      <!--FormField data={{name: "Precision"}}>
        <input type="text" class="form-control" on:blur="updateInput('precision', this.value)" value={newField.precision || ""} />
      </FormField-->
      {#if newField && newField.type}
        <FieldValueEditor classNames={showFieldValueEditor ? "hide" : "show"} field={newField} on:back="set({showFieldValueEditor: false})"/>
      {/if}
    {/if}
  </div>
  
{/await}

<script>
  import FormField from "./form-field.html";
  import MultiValueTextBox from "./multivalue-textbox.html";
  import SvelteSelect from "./svelte-select.html";
  import ConfigService from "../services/config";
  import FieldValueEditor from "./field-value-editor.html";

  const baseField = {
    id: "",
    key: "",
    desc: "a",
    type: "",
    sortOrder: "",
    format: "",
    values: []
  };

  export default {
    components: { FormField, SvelteSelect, MultiValueTextBox, FieldValueEditor },

    data() {
      let types = ConfigService.getTypes();
      let formats = ConfigService.getFormats();

      return {
        newField: baseField,
        types,
        formats,
        showFieldValueEditor: false
      };
    },
    computed: {
      fields: ({ selectedScreener }) => {
        return ConfigService.getFields(selectedScreener.screenId);
      },
      editorClass: ({ showFieldValueEditor }) => {
        return showFieldValueEditor ? "show-value-editor" : "show-field-editor";
      }
    },
    methods: {
      onTypeChange(selectedType) {
        let { newField } = this.get();
        newField.type = selectedType.id;
        this.set({ newField });
      },
      onFieldChange(selectedField) {
        let { newField } = this.get();
        newField.desc = selectedField.display;
        newField.id = selectedField.field;
        this.set({ newField });
      },
      onFormatChange(selectedFormat) {
        let { newField } = this.get();
        newField.format = selectedFormat.id;
        this.set({ newField });
      },
      updateInput(prop, value) {
        let newField = this.get();
        newField[prop] = value;
        this.set({ newField });
      },
      showValues() {
        let { newField } = this.get();
        if (!(newField.values && newField.values.length)) {
          newField.values = [];
        }
        this.set({ showFieldValueEditor: true, newField });
      }
    }
  };
</script>
<style scoped type="text/scss">
  .forward-btn {
    float: right;
  }
  .editor-container {
    display: none;
    &.show-value-editor,
    &.show-field-editor {
      display: block;
    }
  }
</style>
