{#await fields}
    Loading Please Wait
  {:then result}
    <FieldValueEditor classNames={showFieldValueEditor ? "show" : "hide"} field={newField} on:back="set({showFieldValueEditor: false})"/>
    <div class="editor-container {showFieldValueEditor ? "hide" : "show"}">
      <FormField data={{name: "Fields"}}>
        <SvelteSelect labelKey="display" valueKey="field" prompt="Select field" selectedValue={newField.id || ""} on:change="onFieldChange(event.option)" options={result} />
      </FormField>
      {#if newField && newField.id} 
        <FormField data={{name: "Name"}}>
          <input type="text" class="form-control" on:blur="updateInput('desc', this.value)" value={newField.desc || ""} />
        </FormField>
        <FormField data={{name: "Format"}}>
          <SvelteSelect valueKey="id" prompt="Select Format" selectedValue={newField.format || ""} on:change="onFormatChange(event.option)" options={formats} />
        </FormField>
        <FormField data={{name: "Type"}}>
          <SvelteSelect valueKey="id" prompt="Select Type" selectedValue={newField.type || ""} on:change="onTypeChange(event.option)" options={types} />
        </FormField>
        <FormField data={{name: "Sort Order"}}>
          <input type="text" class="form-control" on:blur="updateInput('sortOrder', this.value)" value={newField.sortOrder || ""} />
        </FormField>
        {#if newField && newField.type}
          <button class="btn btn-primary forward-btn" on:click="showValues()">
            Edit Values
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        {/if}
      {/if}
    </div>
    
  {/await}

<script>
  import FormField from "./form-field.html";
  import MultiValueTextBox from "./multivalue-textbox.html";
  import SvelteSelect from "./svelte-select.html";
  import ConfigService from "../services/config";
  import FieldValueEditor from "./field-value-editor.html";

  const baseField = {
    id: "",
    key: "",
    desc: "a",
    type: "",
    sortOrder: "",
    format: "",
    values: []
  };

  export default {
    components: { FormField, SvelteSelect, MultiValueTextBox, FieldValueEditor },

    data() {
      let types = ConfigService.getTypes();
      let formats = ConfigService.getFormats();

      return {
        newField: baseField,
        types,
        formats,
        showFieldValueEditor: false
      };
    },
    computed: {
      fields: ({ selectedScreener }) => {
        return ConfigService.getFields(selectedScreener.screenId);
      },
      editorClass: ({ showFieldValueEditor }) => {
        return showFieldValueEditor ? "show-value-editor" : "show-field-editor";
      }
    },
    methods: {
      onTypeChange(selectedType) {
        let data = this.get();
        data.newField.type = selectedType.id;
        this.set({ data });
      },
      onFieldChange(selectedField) {
        let data = this.get();
        data.newField.desc = selectedField.display;
        data.newField.id = selectedField.field;
        this.set({ data });
      },
      onFormatChange(selectedFormat) {
        let data = this.get();
        data.newField.format = selectedFormat.id;
        this.set({ data });
      },
      updateInput(prop, value) {
        let data = this.get();
        data.newField[prop] = value;
        this.set({ data });
      },
      showValues() {
        let { newField } = this.get();
        if (!(newField.values && newField.values.length)) {
          newField.values = [];
        }
        this.set({ showFieldValueEditor: true, newField });
      }
    }
  };
</script>
<style scoped type="text/scss">
  .forward-btn {
    float: right;
  }
  .editor-container {
    display: none;
    &.show-value-editor,
    &.show-field-editor {
      display: block;
    }
  }
</style>
