<style>
  .form-field {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  .add-box {
    padding-right: 30px;
  }
  .add-value {
    margin-left: -35px;
  }
</style>

<div class="form-field">
  <span>{data.name}</span>
  <span>
    <slot>
      <input class="add-box rounded-textbox" bind:value=value />
      {#if data && data.values}
        <button on:click="addNewValue()" class="add-value">+</button>
      {/if}
    </slot>
    {#if data && data.values}
      <div class="value-container">
        {#each data.values as value}
          <ValueBox on:filterValueDeletion="deleteFilterValue(event.value)" value={value} />
        {/each}
      </div>
    {/if}
  </span>
</div>

<script>
  import ValueBox from "./value-box.html";
  export default {
    components: { ValueBox },
    data() {
      return {
        value: ""
      };
    },
    methods: {
      deleteFilterValue(value) {
        let { data } = this.get();
        let position = data.values.indexOf(value);
        if (data.values.length === 1) {
          this.root.fire('alert-notification', {
            header: 'Error',
            message: 'Filter values cannot be empty. Add another before deleting the last one'
          });
          return;
        }
        data.values.splice(position, 1);
        this.set({ data: data });
      },
      addNewValue() {
        let { value, data } = this.get();
        if (value) {
          data.values.push(value);
          this.set({ value: "", data: data });
        }
      }
    }
  };
</script>
