<div class="form-field {classNames}">
  <label>{name}</label>
  <span>
    <slot></slot>
  </span>
</div>

<script>
  import MultiValueTextBox from "./multivalue-textbox.html";

  export default {
    components: { MultiValueTextBox },
    data() {
      return {
        name: "",
        classNames: "",
        value: ""
      };
    }
  };
</script>

<style type="text/scss" scoped>
  .form-field {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    label {
      margin: 0px;
      margin-right: 10px;
    }
    &.inline {
      display: inline-flex;
    }
  }
</style>
