<div class="loader {isLoadingClass}"></div>

<script>
  export default {
    oncreate() {
      this.root.on("loading", ({ flag }) => {
        this.set({ isLoading: flag });
      });
    },
    data() {
      return {
        isLoading: false
      };
    },
    computed: {
      isLoadingClass: ({ isLoading }) => {
        let name = isLoading ? "is-loading" : "";
        return name;
      }
    }
  };
</script>

<style type="text/scss" scoped>
  .loader {
    display: none;
    &.is-loading {
      display: block;
      &::before {
        content: " ";
        //background-color: rgba(0, 0, 0, 0.6);
        width: 3000px;
        height: 3000px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100000;
      }
      &::after {
        background: url("../../loader.gif");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: fixed;
        margin-top: 100px;
        height: 200px;
        width: 100%;
        z-index: 1000000;
        content: " ";
      }
    }
  }
</style>