<select ref:select class="form-control" on:change="selectOption()">
  {#if prompt}
    <option value="">{prompt}</option>
  {/if}
  {#each options as option, index}
    {#if selectedValue === option.value} 
      <option data-index={index} value={option[valueKey]} selected}>{option[labelKey]}</option>
    {:else}
      <option data-index={index} value={option[valueKey]}>{option[labelKey]}</option>
    {/if}
   
  {/each}
</select>

<script>
  import $ from "jquery";

  export default {
    data() {
      return {
        prompt: "",
        labelKey: "label",
        valueKey: "value",
        selectedValue: {},
        options: []
      };
    },

    methods: {
      selectOption() {
        let { labelKey, valueKey } = this.get();
        let $selectedOption = $(this.refs.select).find(":selected");
        let option = {};
        option[labelKey] = $selectedOption.text();
        option[valueKey] = $selectedOption.val();
        option.index = $selectedOption.data("index");

        this.fire("change", { option });
      }
    }
  };
</script>
