<style scoped type="text/scss">
  .value-box {
    display: inline-block;
    margin: 5px;
    padding: 5px 20px 5px 5px;
    border: 1px solid grey;
    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    position: relative;
    border-radius: 5px;

    button {
      top: 5px;
      background: none;
      font-size: 0.8rem;
      vertical-align: middle;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      position: absolute;
      right: 2px;
      border-radius: 100%;
      padding: 0px;
      border: 1px solid black;
    }
  }
</style>

<div class="value-box">
  {value}
  <button on:click="deleteFilterValue(value)">X</button>
</div>

<script>
  export default {
    methods: {
      deleteFilterValue(value) {
        this.fire("filterValueDeletion", {
          value
        });
      }
    }
  };
</script>