<div class="value-nugget">
  {data.value}
  <button class="icon-btn glyphicon glyphicon-remove" on:click="fire('valueDeletion', { index: data.index })"></button>
</div>

<script>
  export default {};
</script>

<style scoped type="text/scss">
  .value-nugget {
    display: inline-block;
    padding: 5px 20px 5px 5px;
    margin: 5px;
    border: 1px solid grey;
    position: relative;
    border-radius: 5px;

    .icon-btn {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 16px;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
    }
  }
</style>